{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
<style>
    /* Additional Styles for Category Title */
    .category-title {
        font-size: 2.5rem;
        font-weight: 600;
        color: #4a4a4a;
        margin-top: 30px;
        padding-bottom: 10px;
        margin-left: 20px;
    }

    /* Style for the district selector */
    .district-selector {
        display: block;
        width: 200px;
        height: 35px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .no-services-message {
        padding-left: 20px;
        margin-top: 20px;
        font-size: 1.2rem;
        color: #666;
    }
</style>

<h1 class="category-title mx-60 px-4">{{ category.title }}</h1>

<!-- District Selection -->
<div class="px-8 py-2">
    <form method="get">
        <label for="district">Select District:</label>
        <select name="district" id="district" class="district-selector" onchange="this.form.submit()">
            <option value="">All Districts</option>
            {% for district in districts %}
                <option value="{{ district.slug }}" {% if selected_district == district.slug %}selected{% endif %}>{{ district.name }}</option>
            {% endfor %}
        </select>
    </form>
</div>

{% if services %}
    <!-- Display Services List -->
    <div class="px-4">
        {% include 'partials/services.html' %}
    </div>
{% else %}
    <!-- Display Message if No Services -->
    <p class="no-services-message">Sorry, no services are currently available in this category.</p>
{% endif %}

{% endblock %}
