{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;">
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333; margin-bottom: 30px;">
        <span style="font-weight: bold; font-size: 36px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Manage Page for services</span>
    </h1>
    <div style="width: 70%; margin: 0 auto;">
        {% for service in services %}
            <a href="{% url 'manage' service.id %}" style="text-decoration: none; color: #007bff; font-size: 18px;">
                <div style="background-color: #f8f9fa; padding: 20px; margin-bottom: 20px; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
                    <span style="font-weight: bold; color: #333;">{{ service.title }}</span>
                    <span style="font-size: 14px; color: #666;"> - Click to manage</span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
