{% extends 'base.html' %}
{% block title %}Delete Account{% endblock %}
{% block content %}
 <div class="min-h-screen flex flex-col justify-center items-center mt-1">   
<h1 class="text-4xl font-bold mb-4">Delete Account</h1>
    <p class="text-lg mt-2">Are you sure you want to delete your account?</p>
    <form method="post" action="{% url 'delete_account' %}">
        {% csrf_token %}
        <button type="submit" name="delete_account" class="mt-6 inline-block py-4 px-8 bg-red-400 text-white rounded-lg">Yes,delete my account</button>
    </form>

    <form method="post" action="{% url 'frontpage' %}">
        {% csrf_token %}
        <button type="submit" name="cancel" class="mt-6 py-3 px-6 bg-teal-600 text-white rounded-lg">Cancel</button>
    </form>     
 </div>

{% endblock %}