{% extends 'base.html' %}

{% block title %}My Services{% endblock %}
<style>
    .service {
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    /* Media query for screens smaller than 768px (typical mobile devices) */
    @media (max-width: 767px) {
        .service {
            width: 90%; /* Make the service cards occupy full width */
            height: auto; /* Let the height adjust according to content */
            margin-bottom: 20px; /* Add some spacing between cards */
        }
    }

    .content-container {
        padding-bottom: 60px;
    }

    /* Ensure images maintain aspect ratio */
    .image {
        height: 150px;
        overflow: hidden;
        position: relative;
    }

    /* Center-cropping */
    .image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

    /* Align title at the bottom of the card */
    .title {
        margin-top: auto;
    }
</style>

{% block content %}
<div class="container px-8 py-8 mx-auto">
    <div class="px-40 mx-4">
        <h1 class="text-3xl font-bold mb-4">My Services</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="mt-4 px-8 py-4 bg-teal-200 text-teal-800">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="py-8">
            <a href="{% url 'add_service' %}" class="inline:block mt-4 px-8 py-4 text-white rounded-lg" style="background-color: #008080; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#005757'" onmouseout="this.style.backgroundColor='#008080'">Add Service</a>
        </div>
    </div>

    <div class="content-container max-w-4xl mx-auto px-3">
        <div class="flex flex-wrap">
            {% for service in services %}
            <div class="service w-full sm:w-1/2 md:w-1/3 p-2">
                <div class="bg-gray-100 rounded-lg shadow-md hover:shadow-lg transition duration-300 h-full flex flex-col">
                    <a href="{% url 'service_detail' service.category.slug service.slug %}" class="block h-full">
                        <div class="image rounded-t-lg">
                            <img src="{{ service.get_thumbnail }}" alt="Image of {{ service.title }}" class="w-full h-full rounded-t-md">
                        </div>
                        <h2 class="p-3 text-lg font-semibold text-gray-800 title">{{ service.title }}</h2>
                        <p class="p-3"><strong>Status: </strong>{{ service.get_status_display }}</p>
                        <a href="{% url 'edit_service' service.pk %}" class="inline:block mt-2 px-2 py-2 text-white rounded-lg" style="background-color: #008080; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#005757'" onmouseout="this.style.backgroundColor='#008080'">Edit</a>

                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if services|length == 0 %}
        <p class="mt-4 py-4 px-8 bg-gray-200">You don't have any Services listed yet...</p>
    {% endif %}
</div>
{% endblock %}


