{% extends 'base.html' %}

{% block title %}Add service{% endblock %}

{% block content %}
<style>
    .form_content {
        padding: 15px;
        margin: 40px; /* Add margin around the entire content */
        border-radius: 10px; /* Add rounded corners */
        background-color: #f7f7f7; /* Add background color */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    }
</style>
<div class="form_content">
   <h1 class="text-2xl">{{ title }}</h1>

<form method='post' action="." enctype="multipart/form-data" class="space-y-5">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="rounded-md mt-2 inline-block py-4 px-8 bg-teal-500 text-white hover:bg-teal-800">Submit</button>
</form>
{% if service %}
<a href="{% url 'delete_service' service.id %}" class="rounded-md mt-2 inline-block py-4 px-8 bg-red-500 text-white">Delete</a>
{% endif %}
</div>

{% endblock %}