{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
<div class="flex items-center justify-center my-5">
    <img src="\media\uploads\service_images\logo2.png" alt="Service Spotter Logo" class="h-8 mr-2">
    <h1 class="text-2xl font-bold">Service Spotter</h1>
</div>
<div class="max-w-md mx-auto mt-8 bg-white rounded-xl overflow-hidden shadow-md">
    <div class="py-4 px-6">
        <h1 class="text-2xl font-bold mb-4">Signup</h1>
        <form method="post" action=".">
            {% csrf_token %}

            {% if errors %}
                <div class="mb-4">
                    <p class="text-red-500">Please correct the following errors:</p>
                    <ul>
                        {% for error in errors.values %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="mb-4">
                <label for="id_username" class="block text-sm font-medium text-gray-700">Username:</label>
                <input type="text" name="username" id="id_username" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50" required autofocus>
            </div>        

            
            <div class="mb-6">
                <label for="id_password" class="block text-sm font-medium text-gray-700">Password:</label>
                <input type="password" name="password1" id="id_password" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50" required>
            </div>

            <div class="mb-6">
                <label for="id_password2" class="block text-sm font-medium text-gray-700">Confirm Password:</label>
                <input type="password" name="password2" id="id_password2" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-500 focus:ring focus:ring-teal-500 focus:ring-opacity-50" required>
            </div>

            <div class="mb-6 flex items-center">
                <label for="showPassword" class="flex-grow block text-sm font-medium text-gray-700">Show Passwords:</label>
                <div class="relative">
                    <input type="checkbox" id="showPassword" class="ml-2" onclick="togglePasswordVisibility()">
                </div>
            </div>
            


            <button type="submit" class="w-full py-2 px-4 bg-teal-600 text-white font-semibold rounded-xl hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-opacity-50">Sign up</button>
        </form>
    </div>
</div>
<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("id_password");
        var confirmPasswordField = document.getElementById("id_password2");

        if (passwordField.type === "password" && confirmPasswordField.type === "password") {
            passwordField.type = "text";
            confirmPasswordField.type = "text";
        } else {
            passwordField.type = "password";
            confirmPasswordField.type = "password";
        }
    }
</script>




{% endblock %}

