{% extends 'base.html' %}

{% block title %}Confirm Service Listing{% endblock %}

{% block content %}
<div class="mt-8 max-w-md mx-auto bg-white rounded-xl overflow-hidden shadow-md p-6">
    <h1 class="text-2xl font-bold mb-4 text-center">Confirm Service Listing</h1>

    <form method="post" class="mb-4">
        {% csrf_token %}

        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Are you sure you want to list your services here?</label>
            {% for choice in form.confirmation %}
                <label class="inline-flex items-center mt-2">
                    {{ choice.tag }}
                    <span class="ml-2 text-sm font-medium text-gray-700">{{ choice.choice_label }}</span>
                </label>
            {% endfor %}
        </div>

        <div class="flex justify-center">
            <button type="submit" class="w-full py-2 px-4 bg-teal-600 text-white font-semibold rounded-xl hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-opacity-50">Confirm</button>
        </div>
    </form>
</div>
{% endblock %}