{% extends 'base.html' %}

{% block title %}{% firstof user.get_full_name user.username %}{% endblock %}
<style>
        .services-container {
        position: relative;
        z-index: 2;
        background-color: #ffffff;
        padding: 40px;
        border-radius: 0px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: -100px; /* Adjust to overlap with hero section */
    }
</style>
{% block content %}
<div>
  <h1 class="mx-60 py-2 text-2xl">Services listed by {% firstof user.get_full_name user.username %}</h1>
</div>


<div class="services-container">
    {% include 'partials/services.html' %}
</div>
{% endblock %}
