{% extends 'base.html' %}
{% block content %}

{% block title %}Make Appointment for {{ service.title }}{% endblock %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #009688;
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        margin-top: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        background-color: #009688;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<!-- Include flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="container">
    <h1>Make Appointment for {{ service.title }}</h1>

    <form id="appointment-form" method="post" onsubmit="return validateForm()">
        {% csrf_token %}

        <input type="text" id="appointment_time" name="appointment_time" required placeholder="Enter appointment time...">
        <button type="submit">Make Appointment</button>
    </form>

</div>

<!-- Include flatpickr JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- Initialize flatpickr -->
<script>
    flatpickr("#appointment_time", {
        enableTime: true,
        enableSeconds: false, // Disable seconds for simplicity
        dateFormat: "Y-m-d H:i",
        minDate: "today", // Set the minimum selectable date to today
        minTime: "08:00", // Set the minimum selectable time to 8:00 AM
        maxTime: "20:00", // Set the maximum selectable time to 8:00 PM
        time_24hr: true, // Use 24-hour format
        disableMobile: true // Disable mobile-friendly input
    });

    function validateForm() {
        var appointmentTime = document.getElementById("appointment_time").value;
        if (appointmentTime === "") {
            alert("Please fill in the appointment time field.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>

{% endblock %}
