{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
<style>
    /* Additional Styles for Category Title */
    .category-title {
        font-size: 2rem;
        font-weight: bold;
        color: #333;

        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ccc;
    }

    .no-services-message {
        padding-left: 20px;
        margin-top: 20px;
        font-size: 1.2rem;
        color: #666;
    }

</style>

<h1 class="category-title mx-60 px-4">{{ category.title }}</h1>

{% if services %}
    <!-- Display Services List -->
    <div>
        {% include 'partials/services.html' %}
    </div>
{% else %}
    <!-- Display Message if No Services -->
    <p class="no-services-message">Sorry, no services are currently available in this category.</p>
{% endif %}

{% endblock %}
