{% extends 'base.html' %}
{% block content %}

<div class="container mx-auto" style="margin-bottom: 30%;">
  <table class="table-auto w-full">
    <thead>
      <tr class="text-left bg-gray-200">
        <th class="px-4 py-2">Service</th>
        <th class="px-4 py-2">Customer</th>
        <th class="px-4 py-2">Time</th>
        <th class="px-4 py-2">Status</th>
        <th class="px-4 py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        <tr>
          <td class="px-4 py-2">{{ appointment.service }}</td>
          <td class="px-4 py-2">
            {% if appointment.customer %}
              {{ appointment.customer.username }} {% else %}
              -
            {% endif %}
          </td>
          <td class="px-4 py-2">{{ appointment.time }}</td>
          <td class="px-4 py-2">
            <span id="status_{{ appointment.id }}" class="text-xs px-2 py-1 rounded-full 
                     {% if appointment.status == 'PENDING' %}
                       bg-gray-200 text-gray-700
                     {% elif appointment.status == 'COMPLETED' %}
                       bg-green-500 text-white
                     {% else %}
                       bg-yellow-300 text-black
                     {% endif %}
                   ">
              {{ appointment.status }}
            </span>
          </td>
          <td class="px-4 py-2">
            <a href="{% url 'approve' appointment.id  appointment.service.id %}" class="text-green-500 hover:text-green-700">Approve</a>
            <a href="{% url 'deny' appointment.id  appointment.service.id %}" class="text-red-500 hover:text-red-700">Deny</a>            
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>




{% endblock %}
