{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto mt-2" style="margin-bottom: 30%;">
    <table class="table-auto w-full">
      <thead>
        <tr class="text-left bg-gray-200">
          <th class="px-4 py-2">Service</th>          
          <th class="px-4 py-2">Time</th>
          <th class="px-4 py-2">Status</th>          
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
          <tr>
            <td class="px-4 py-2">{{ appointment.service }}</td>            
            <td class="px-4 py-2">{{ appointment.time }}</td>
            <td class="px-4 py-2">{{ appointment.status }}</td>            
                     
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}