{% extends 'base.html' %}

{% block title %}
404 Error
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-900 mb-4">Σ(◎_◎;)</h1>
        <h2 class="text-2xl font-semibold text-gray-700 mb-2">404 - Page Not Found</h2>
        <p class="text-lg text-gray-600">The page you are looking for does not exist.</p>
    </div>
</div>