{% load menu %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}{% endblock %} | Service Spotter
    </title>

    {% block meta %}
    {% endblock %}

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <style>
        /* Apply Open Sans font to all text */
        body, h1, h2, h3, h4, h5, h6, p, a {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
        }

            html {
            height: 100%;
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        body {
            display: flex;
            flex-direction: column;
            height: auto;
            margin: 0;
            padding: 0;
        }

        .content {
            margin-top: 70px;
            flex: 1;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        nav + div {
            margin-top: 60px; /* Adjust the value to match the height of your navigation bar */
        }

        footer {
            margin-top: auto;
            background-color: #EDEDED;
            padding: 20px;
        }

        footer a {
            display: block;
            margin-right: 10px;
            color: #000;
            text-decoration: none;
        }

        footer a:hover {
            text-decoration: underline;
        }

        .search-form {
            margin-right: 10px; 
        }

        @media (max-width: 768px) {
            .search-form {
                margin-right: 0; 
                margin-bottom: 10px;
            }

            .menu {
                display: none;
                flex-direction: column;
                position: absolute; 
                top: 64px;
                right: 0; 
                background-color: #f3f4f6;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
                padding: 10px; 
                border-radius: 10px; 
                z-index: 1000; 
            }

            .menu.show {
                display: flex; 
            }

            .menu a {
                margin-bottom: 10px; 
                color:black;
            }

            .menu .search-form {
                margin-bottom: 10px;
            }

            .menu .search-form button {
                background-color: teal;
                border: none; 
            }

            .menu .menu-icon {
                display: block; 
            }
        }

        @media (min-width: 769px) {
            .menu {
                display: flex !important; /* Show the menu as flex for desktop view */
                flex-direction: row; /* Align menu items horizontally */
            }

            .menu .menu-icon {
                display: none; /* Hide the hamburger menu icon on desktop view */
            }
        }
    </style>

</head>

<body>
    <nav class="mx-auto p-3 px-5 flex items-center justify-between" style="background: rgb(32, 158, 158);">
        <!-- Replace site name with logo -->
        <a href="{% url 'frontpage' %}">
            <img src="\media\uploads\service_images\logo2.png" alt="Company Logo" style="width: 50px; height: auto; border-radius: 15%;" onmouseover="this.style.transform = 'rotate(5deg)'" onmouseout="this.style.transform = 'rotate(0deg)'">
        </a>
        
    
        <!-- Menu Icon (for Mobile View) -->
        <div class="menu-icon block cursor-pointer md:hidden">
            <svg class="h-6 w-6 fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/>
            </svg>
        </div>

        <div class="menu flex items-center space-x-4 md:space-x-8 md:block hidden">
            <div class="search-form">
                <form method="get" action="/search/"
                      class="flex items-center border border-white rounded-xl overflow-hidden">
                    <input type="search" name='query' placeholder="Search..."
                           class="py-2 px-4 flex-grow outline-none bg-white text-gray-800">
                    <button type="submit" class="px-4 py-2 text-white flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                             class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                        </svg>
                    </button>
                </form>
            </div>

            {% menu %}

            {% if not request.user.is_authenticated %}
            <a href="{% url 'signup' %}">
                <span class="hover:underline">SIGN UP</span>
            </a>
            <a href="{% url 'login' %}">
                <span class="hover:underline">LOG IN</span>
            </a>
            {% else %}
            <a href="{% url 'myaccount' %}">
                <span class="hover:underline">MY ACCOUNT</span>
            </a>
            {% endif %}
            {% if request.user.userprofile.is_vendor %}
            <a href="{% url 'my_services' %}">
                <span class="hover:underline">MY SERVICES</span>
            </a>
            <a href="{% url 'managepage' %}">
                <span class="hover:underline">MANAGE</span>
            </a>
            {% endif %}
            {% if request.user.is_authenticated %} 
            <a href="{% url 'status' %}">
                <span class="hover:underline">APPOINTMENT STATUS</span>
            </a>
            {% endif %}
            
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <footer class="footer">
            <p>Service Spotter</p>
        </footer>

    </footer>

        <footer style="background-color: #f8f9fa; padding: 20px 0; text-align: center;">
            <div class="footer-content" style="display: flex; justify-content: space-around; align-items: center;">
                <div class="footer-logo" style="transition: transform 0.3s ease-in-out;">
                    <img src="\media\uploads\service_images\logo2.png" alt="Company Logo" style="width: 50px; height: auto; border-radius: 15%;" onmouseover="this.style.transform = 'rotate(5deg)'" onmouseout="this.style.transform = 'rotate(0deg)'">

                </div>
                <div class="footer-links">
                    <ul style="list-style-type: none; padding: 0;">
                        <li style="display: inline; margin-right: 20px;"><a href="{% url 'frontpage' %}" style="text-decoration: none; color: #333; font-weight: bold; transition: color 0.3s ease-in-out;" class="colorful-link">Home</a></li>
                        <li style="display: inline; margin-right: 20px;"><a href="{% url 'about' %}" style="text-decoration: none; color: #333; font-weight: bold; transition: color 0.3s ease-in-out;" class="colorful-link">About Us</a></li>
                        
                        <li style="display: inline; margin-right: 20px;"><a href="{% url 'frontpage' %}" style="text-decoration: none; color: #333; font-weight: bold; transition: color 0.3s ease-in-out;" class="colorful-link">Services</a></li>
                        <li style="display: inline; margin-right: 20px;"><a href="{% url 'about' %}" style="text-decoration: none; color: #333; font-weight: bold; transition: color 0.3s ease-in-out;" class="colorful-link">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <a href="https://twitter.com" style="display: inline-block; margin: 0 10px; transition: transform 0.3s ease-in-out;" class="animated-icon"><img src="/media/X.png" alt="Twitter" style="width: 30px; height: auto;" onmouseover="this.style.transform = 'translateY(-5px)'" onmouseout="this.style.transform = 'translateY(0)'"></a>
                    <a href="https://www.instagram.com" style="display: inline-block; margin: 0 10px; transition: transform 0.3s ease-in-out;" class="animated-icon"><img src="/media/instagram.png" alt="Instagram" style="width: 30px; height: auto;" onmouseover="this.style.transform = 'translateY(-5px)'" onmouseout="this.style.transform = 'translateY(0)'"></a>
                    <a href="https://www.facebook.com" style="display: inline-block; margin: 0 10px; transition: transform 0.3s ease-in-out;" class="animated-icon"><img src="/media/facebook.png" alt="Facebook" style="width: 30px; height: auto;" onmouseover="this.style.transform = 'translateY(-5px)'" onmouseout="this.style.transform = 'translateY(0)'"></a>

                </div>
            </div>
            <div class="footer-info" style="margin-top: 20px;">
                <p style="margin: 10px 0; color: #666; font-size: 14px;">&copy; 2024 Service Spotter. All rights reserved. Designed with passion by Group 11</p>
            </div>
        </footer>
        

        
        
</body>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuIcon = document.querySelector('.menu-icon');
        const menu = document.querySelector('.menu');

        // Toggle menu visibility on menu icon click
        menuIcon.addEventListener('click', function(event) {
            menu.classList.toggle('show');
        });

        // Close menu when clicking outside of the menu
        document.addEventListener('click', function(event) {
            const isClickInsideMenu = menu.contains(event.target);
            const isMenuIconClicked = menuIcon.contains(event.target);

            if (!isClickInsideMenu && !isMenuIconClicked) {
                menu.classList.remove('show');
            }
        });
    });
</script>

</html>
