{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block meta %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap">
{% endblock %}

{% block content %}
<style>
    /* Hero Section */
    .hero-image {
        background-color: rgb(32, 158, 158);
        position: relative;
        overflow: hidden;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 0;
    }



    .hero-text {
        z-index: 1;

    }

    .hero-text h1 {
        color: black;
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    .hero-text p {
        color: black;
        font-size: 2rem;
        font-weight: lighter;
        font-family: 'Merriweather', serif;
        line-height: 1.5;
    }

    .services-container {
        position: relative;
        z-index: 2;
        background-color: #ffffff;
        padding: 40px;
        border-radius: 0px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: -100px; /* Adjust to overlap with hero section */
    }

    @media (max-width: 768px) {
        .hero-text h1 {
            font-size: 2.5rem;
        }
        .hero-text p {
            font-size: 1.5rem;
        }
        .services-container {
            padding: 20px;
            margin-top: -80px;
        }
    }

    @media (max-width: 576px) {
        .hero-text h1 {
            font-size: 2rem;
        }
        .hero-text p {
            font-size: 1.25rem;
        }
        .services-container {
            padding: 15px;
            margin-top: -60px;
        }
    }
</style>


  <!-- hero_section.html -->
  <div class="hero-section" style="position: relative; background-image: url('/media/uploads/service_images/bbg.jpg'); background-size: cover; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
    <div class="hero-content" style="max-width: 600px; z-index: 1; text-align: center; color: #fff; font-family: Arial, sans-serif;">
      <h1 style="font-size: 3rem; margin-bottom: 20px; font-weight: bold;">Discover Premier Services & Products</h1>
      <p style="font-size: 1.5rem; margin-bottom: 30px;">Amazing experiences Await @ Service Spotter.</p>
      <a href="#about" class="btn" style="display: inline-block; background-color: #fff; color: #000000; padding: 15px 30px; text-decoration: none; border-radius: 5px; transition: background-color 0.3s ease;">Shop Now</a>
    </div>
  </div>
  
<!-- hero_section.html ends -->

<div class="services-container">
            {% include 'partials/services.html' %}
</div>
{% endblock %}
